{% extends "base.html" %}
{% load static %}
{% block title %}Page Not Found{% endblock %}

{% block extra_css %}
<link href="{% static 'css/404.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="page-not-found-container">
    <h2 class="page-not-found-content status">Page Not Found (404)</h2>
    <div class="page-not-found-content quote">"How dark, O Lord, are thy decrees," Thomas Morell, Jephtha (1751)</div>
  </div>

{% include 'partials/footer.html' %}

{% endblock %}
