{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="The official website of the American Handel Society" name="description" />
      <meta content="Regina Compton" name="author" />
    
      <title>{% block title %}{% endblock %} | American Handel Society</title>

    <!-- Override this block to add extra meta tags -->
    {% block extra_meta %}{% endblock %}

    <!-- TODO -->
    <!-- <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" /> -->

    <!-- CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel|IM+Fell+English+SC|Antic+Slab" rel="stylesheet">

    <!-- Override this block to add extra stylesheets -->
    {% block extra_css %}{% endblock %}
  </head>
<body>
    {% block content %}{% endblock %}
</body>
</html>