{% extends "base.html" %}
{% load static %}

{% block title %}Events{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.css">
<link href="{% static 'css/data_table.css' %}" rel="stylesheet">
<link href="{% static 'css/events.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class='banner-container'>
    <div class='page-banner-quote'>
        <p class="apple-pie">"My Lord, I should be sorry if I only entertained them; I wished to make them better."</p>
        <p>George Frideric Handel, cited in G. Hogarth, <em>Musical History, Biography and Criticism</em>, 1838</p>
    </div>
    <div class='page-banner-header'>
        <h1>Events</h1>
    </div>
</div>

<div class="outer-container">
<div class="card">
    <h2><a href="{% url 'conference' %}">2025 American Handel Society Conference, Boston, MA</a></h2>
    <p>The biennial conference of the American Handel Society will take place in Boston, Massachusetts, from February 6–9, 2025. The conference will include academic panels, the Howard Serwer Memorial Lecture given by Dr. Ayana Smith (Associate Professor of Music at Indiana University Bloomington), and performances by Boston’s Handel and Haydn Society and the Boston Early Music Festival.</p>
</div>
</div>

<div class="outer-container padding-md">
    <h2>Recently Past Festivals</h2>
    <div class="inner-container-col padding-sm">
        <p class="font-sm margin-sm"><strong>February 24-26, 2023</strong></p>
        <p class="margin-sm">Jacobs School of Music at Indiana University Bloomington</p>
    </div>
    <div class="inner-container-col padding-sm">
        <p class="font-sm margin-sm"><strong>March 11–14, 2021</strong></p>
        <p class="margin-sm">Virtual Conference</br>Hosted by Indiana University</p>
        <p class="font-sm"><a href="https://iu.pressbooks.pub/ahsconference2021/front-matter/introduction/" target="_blank"><i class="fas fa-external-link-square-alt"></i> Visit website</a></p>
    </div>
    <div class="inner-container-col padding-sm">
        <p class="font-sm margin-sm"><strong>April 6-9, 2017</strong></p>
        <p class="margin-sm">Princeton University</p>
    </div>
    <div class="inner-container-col">
        <p class="font-sm margin-sm"><strong>April 23-26, 2015</strong></p>
        <p class="margin-sm">Iowa City</p>
    </div>
</div>

<div class="outer-container padding-md">
    <h2>Past Howard Serwer Memorial Lectures</h2>
    <table id="lectures" class="table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Speaker</th>
                <th>Title</th>
                <th class="location">Location</th>
            </tr>
        </thead>
        <tbody>
            {% for lecture in howard_serwer_lectures %}
            <tr>
                <td>{{lecture.year}}</td>
                <td>{{lecture.speaker}}</td>
                <td>{{lecture.title|safe}}</td>
                <td class="location">{{lecture.location}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="outer-container padding-md">
    <h2>Encounters with Eighteenth-Century Music: A Virtual Forum</h2>
    <div class="inner-container-col padding-top-xs">
        <p class="padding-sm">The American Bach Society, American Handel Society, Haydn Society of North America, Mozart Society of America, and Society for Eighteenth-Century Music sponsor a series of virtual presentations and conversations.</p>
        <p class="padding-md"><a href="https://encounters.secm.org" target="_blank"><i class="fas fa-external-link-square-alt" aria-hidden="true"></i> Learn more</a></p>
    </div>
</div>

<div class="outer-container padding-md">
    <h2>Other Conferences and Events</h2>
    <div class="inner-container-col padding-top-xs">
        <p>
            <strong>{{"Call for papers: International Scholarly Conference at the Handel Festival"|upper}}</strong>
        </p>
        <p class="padding-sm">June 10-11, 2025 | Halle (Saale)</p>
        <p><strong>Handel’s Italian Texts and His Poets / Free Papers</strong></p>
        <p>The Handel Festival 2025 in Halle an der Saale will take place under the motto "Fresh Wind. The young Handel in Italy." The International Scholarly Conference, held within the framework of the Festival, takes this as its cue to investigate the Italian texts set by Han (including those of his later career) and his contacts with Italian literature and poets. In a public round table chaired by Prof. em. Reinhard Strohm (Oxford), questions concerning the critical edition, translation and digitization of Handel’s Italian texts will be investigated and discussed.</p>
        <p>We would welcome further contributions on these subjects, and on Handel’s trips to Italy as well as on the poets and translators with whom he collaborated, also beyond the Italian-language repertory. The conference should also include contributions on other eighteenth-century composers and their librettos and librettists. Finally, there will be scope for free papers, which would present new and recent results from Handel research to a public interested in scholarship.</p>
        <p>The organisers invite researchers interested in these subjects to participate in the conference with a 25-minute paper and ask for applications with a subject proposal and an abstract by 31 October 2024. Travel and accommodation costs will be covered for the conference days (9/10, 10/11, 11/12 June).</p>
        <p><em>Organizers</em>: Georg-Friedrich-Händel-Gesellschaft e.V., Internationale Vereinigung; Martin-Luther Universität Halle-Wittenberg, Institut für Musik, Medien-und Sprechwissenschaften, Abteilung Musikwissenschaft; Stiftung Händel-Haus Halle.</p>
        <p>
            Dr. Annette Landgraf, <a href="mailto:landgraf@musik.uni-halle.de">landgraf@musik.uni-halle.de</a><br>
            Prof. Dr. Wolfgang Hirschmann, <a href="mailto:wolfgang.hirschmann@musik.uni-halle.de">mailto:wolfgang.hirschmann@musik.uni-halle.de</a><br>
            Ulrike Harnisch, <a href="mailto:gesellschaft@haendel.de">gesellschaft@haendel.de</a>
        </p>
    </div>
</div>

{% include 'partials/footer.html' %}

{% block extra_js %}
<!-- TODO: Why do I need jQuery import if I import it in base.html -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var myTable = $('#lectures').dataTable({
            "retrieve": true, // https://datatables.net/manual/tech-notes/3
            "lengthChange": false,
            "ordering": false,
            "paging": false,
            "infoCallback": function (settings, start, end, max, total, pre) {
                return `Showing ${total} of ${max}`;
            },
            "language": {
                "search": "",
                "searchPlaceholder": "Search...",
            },
        });
    });
</script>
{% endblock %}

{% endblock %}
