{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='banner-container'>
	<div class='page-banner-header'>
		<img class="home-img" src="{% static 'images/handel_bust_bw.png' %}" />
		</div>
	<div class='page-banner-quote'>
		<p class="apple-pie">"Strong in new arms, lo! giant Handel stands,<br>Like bold Briareus with a hundred hands."</p>
		<p>Alexander Pope, <em>The Dunciad</em>, 1742</p>
	</div>
</div>

<div class="outer-container intro-text">
	<p>Founded in 1986 by Howard Serwer, Paul Traver, and J. Merrill Knapp, the <strong><span class="font-enhance">American Handel Society</span></strong> seeks to foster study of the life, works, and times of <strong><span class="font-enhance">George Frideric Handel</span></strong>, and to encourage and support the performance of his music.</p>
</div>

<div class="img-banner">
	<h1>Become a member of the American Handel Society.</h1>
	<a class="btn btn-primary" href="{% url 'join' %}">Join</a>
</div>

<div class="fluid-outer-container">
	<div class="info-row">
		<div><img class="info-newsletter-img" src="{% static 'images/master-of-the-musicians-original-removebg.png' %}" /></div>
		<div class="info-col info-newsletter-text">
			<p class="subheader">LEARN AND EXPLORE</p>
			<h3 class="info-header">Newsletter</h3>
			<p>The AHS publishes a newsletter that contains reports on scholarly developments, notices of upcoming conferences
				and performances, reviews, lists of recent publications, and news of the Society.</p>
		</div>
	</div>

	<div class="info-row">
		<div class="info-col info-events-text">
			<p class="subheader">LISTEN AND SEE</p>
			<h3 class="info-header">Events</h3>
			<p>The AHS sponsors a conference and festival every two years, featuring papers and panel discussions, the
				Howard Serwer Lecture, and the Paul Traver Memorial Concert.</p>
		</div>
		<div class="info-col info-events-img"></div>
	</div>

	<div class="info-row">
		<div class="info-col info-study-img"></div>
		<div class="info-col info-study-text">
			<p class="subheader">STUDY AND SUPPORT</p>
			<h3 class="info-header">Awards</h3>
			<p>The AHS offers the J. Merrill Knapp Research Fellowship, a grant for advanced graduate students and scholars in the early stages of their careers to support work in Handel studies or related fields.</p>
		</div>
	</div>
</div>

{% include 'partials/footer.html' %}

{% endblock %}
