{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div>
    <form class="form-sign-in" method="post" action="{% url 'login' %}">
        {% if form.errors %}
            {% for error in form.errors %}
                {{error}}
            {% endfor %}
        {% endif %}

        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}

        {{ form.password.label_tag }}
        {{ form.password }}
    <input class="btn btn-primary mt-5" type="submit" value="Login">
    <input type="hidden" name="next" value="{% url 'profile' %}">
    </form>
</div>

{% endblock %}
