{% extends "base.html" %}
{% load static %}

{% block title %}Newsletter{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<link href="{% static 'css/data_table.css' %}" rel="stylesheet">
<link href="{% static 'css/newsletter.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class='banner-container'>
    <div class='page-banner-quote'>
        <p class="apple-pie">"It was from Handel that I learned that style consists in force of assertion. If you can say a thing with stroke unanswerably you have style. . . . Handel has this power."</p>
        <p>George Bernard Shaw, “Causerie on Handel in England,” 1913</p>
    </div>
    <div class='page-banner-header'>
        <h1>Newsletter</h1>
    </div>
</div>

<div class="outer-container">
    <section>
        <p>The American Handel Society publishes a newsletter three times a year (Spring, Summer, Winter); it contains reports on scholarly developments, notices of upcoming conferences and performances, reviews, lists of recent publications, and news of the AHS.</p>
        <p>
            <strong>Minji Kim, editor of the newsletter, welcomes comments and suggestions for future issues. Please email <a href="mailto:minjik@gmail.com">minjik@gmail.com</a>.</strong>

        </p>
    </section>
</div>

<div class="outer-container">
    <h2>Newsletter Archives</h2>
    <p>Newsletters are available in PDF format. Members of the AHS can view all Newsletters, including the latest three issues; non-members can view previews of the latest three issues. Complete Newsletters become publicly available online one year after their publication.</p>

</div>

{% include 'partials/footer.html' %}

{% endblock %}
