{% extends "base.html" %}
{% load static %}

{% block title %}Payment Success{% endblock %}

{% block extra_css %}
<link href="{% static 'css/confirmations.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="outer-container">
    <h3>Payment successfully submitted</h3>
    <p>Thank you for joining the American Handel Society!</p>
    <p>Paypal may require additional time to process your payment. <a href="{% url 'login' %}">Please try to login.</a> If you encounter an error, please wait, and try again. If the errors persist, then contact <a href="mailto:reginafcompton@gmail.com">reginafcompton@gmail.com</a>.</p>
</div>


{% endblock %}
