{% extends "base.html" %}
{% load static %}

{% block title %}People{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<link href="{% static 'css/data_table.css' %}" rel="stylesheet">
<link href="{% static 'css/people.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class='banner-container'>
	<div class='page-banner-header'>
		<h1>People</h1>
	</div>
	<div class='page-banner-quote'>
		<p class="apple-pie">"Oh! Let me know when you will do that, and I will advertise it. For I am sure more people will
			come to see you jump, than to hear you sing."</p>
		<p>George Frideric Handel</p>
	</div>
</div>

{% if request.user.is_authenticated %}
<div class="people-container pt-lg">
	<h2>Members Directory</h2>
	<table id="members-directory" class="table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			{% for member in ahs_members %}
			<tr>
				<td>{{member.first_name}}</td>
				<td>{{member.last_name}}</td>
				<td>{{member.email}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

<div class="people-container pt-lg">
	<h2>Officers</h2>
	<p><strong>Graydon Beeks</strong>, <em>President</em></p>
	<p><strong>Nathan Link</strong>, <em>Vice President</em></p>
	<p><strong>Marjorie Pomeroy</strong>, <em>Secretary/Treasurer</em></p>
</div>

<div class="people-container">
	<h2>Board of Directors</h2>
	<table class="d-none d-sm-block">
		{% for director_1, director_2 in board_of_directors %}
		<tr>
			<td>{{director_1}}</td>
			<td>{{director_2}}</td>
		</tr>
		{% endfor %}
		<tr>
			<td>Minji Kim, <em>Newsletter editor</em></td>
		</tr>
		<tr>
			<td>Regina Compton, <em>Web developer</em></td>
		</tr>
	</table>

	<div class="d-block d-sm-none">
		{% for director_1, director_2 in board_of_directors %}
			<p>{{director_1}}</p>
			<p>{{director_2}}</p>
		{% endfor %}
		<p>Minji Kim, <em>Newsletter editor</em></p>
		<p>Regina Compton, <em>Web developer</em></p>
	</div>
</div>

<div class="people-container">
	<h2>Honorary Directors</h2>
	{% for director in honorary_directors %}
	<p>{{director}}</p>
	{% endfor %}
</div>

{% include 'partials/footer.html' %}

{% block extra_js %}
	<!-- TODO: Why do I need jQuery import if I import it in base.html -->
	<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
	<script>
		$(document).ready(function () {
			var myTable = $('#members-directory').dataTable({
				"retrieve": true, // https://datatables.net/manual/tech-notes/3
				"lengthChange": false,
				"ordering": false,
				"language": {
					"search": "",
					"searchPlaceholder": "Search...",
					"info": "Page _PAGE_ of _PAGES_",
					"paginate": {
						"previous": '<i class="fas fa-arrow-circle-left" id="dark-color-please"></i>',
						"next": '<i class="fas fa-arrow-circle-right" id="dark-color-please"></i>'
					}
				},
			});
		});
	</script>
{% endblock %}
{% endblock %}
