{% extends "base.html" %}
{% load static %}
{% load profile_extras pay_extras %}

{% block title %}Profile{% endblock %}

{% block extra_css %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='container-fluid'>
	<div class="row">
		<div class='col profile-card'>
			<h2>Basic Information</h2>
			<div class="row mb-4">
				<div class="col-md-6 mb-4">
					<p class="text-muted">About You</p>
					<p class="mb-0">{{ member.first_name }} {{ member.last_name }}</p>
					<p class="mb-0">{{ member.email }}</p>
					<p class="mb-0">{{ member.phone_number }}</p>
					<p>{{ member.institution }}</p>
				</div>
				<div class="col-md-6">
					{% if member.address %}
						<p class="text-muted">Mailing Address</p>
						<p class="mb-0">{{ member.address.street_address }}</p>
						<p class="mb-0">{{ member.address.street_address_2 }}</p>
						<p class="mb-0">{{ member.address.street_address_3 }}</p>
						<p class="mb-0">{{ member.address.city }} {{ member.address.state_province_region }} {{ member.address.zip_postal_code }}</p>
						<p>{{ member.address.country }}</p>
					{% endif %}
				</div>
				{% if member.contact_preference %}
					<div class="col-xs-12 mt-2">
						<p><i class="fa-solid fa-envelope-open-text"></i> You receive the AHS newsletter in <strong>{{member.contact_preference|format_contact_preference}}</strong> format.</p>
					</div>
				{% endif %}
				{% if member.is_circle_member %}
					<div class="col-xs-12 mt-2">
						<p><i class="fa-solid fa-handshake"></i> {{member.publish_member_name_consent|format_publish_member_name_consent}}</p>
					</div>
				{% endif %}
				<div class="col-xs-12 mt-2">
					{% if member.available_in_directory %}
						<p class="pb-4"><i class="fas fa-eye"></i> Members of the AHS can view your information in the online membership directory.</p>
					{% else %}
						<p class="pb-4"><i class="fas fa-eye-slash"></i> Members of the AHS cannot view your information in the online membership directory.</p>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% if form_name == 'change-password-success' %}
						<p class="alert-success">
							Bravo! You successfully changed your password.
						</p>
					{% elif form_name == 'change-member-info-success' %}
						<p class="alert-success">
							Bravo! You successfully updated your user info.
						</p>
					{% endif %}
					<a class="btn btn-primary mt-4 ms-4 float-end" href="{% url 'edit-member' member_uuid=request.user.id %}">Update Information</a>
					<a class="btn btn-primary mt-4 ms-4 float-end" href="{% url 'change-password' %}">Change Password</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class='col profile-card'>
			<h2>Profile</h2>
			<table class="profile-table">
				<tr>
					<th>Last Login</th>
					<td>{{ request.user.last_login|date:'DATETIME_FORMAT' }}</td>
				</tr>
				<tr>
					<th>Membership Type</th>
					<td>{{ member.membership_type|format_membership_type }}</td>
				</tr>
				{% if not is_messiah_circle_member %}
				<tr>
					<th>Date Joined</th>
					<td>{{ member.date_joined|date:'DATE_FORMAT' }}</td>
				</tr>
				<tr>
					<th>Date of Last Membership Payment</th>
					<td>{{ member.date_of_last_membership_payment|date:'DATE_FORMAT' }}</td>
				</tr>
				<tr>
					<th>Renewal Date</th>
					<td>
						{{ renewal_date|date:'DATE_FORMAT' }}
						{% if payment_overdue %}
							<div class="renewal-msg-error"><i class="fas fa-bell"></i> {{ renewal_msg }}</div>
							<a href="{% url 'renew' %}"><i class="fas fa-user"></i>&nbsp;Renew your membership</a>
						{% else %}
							<div class="renewal-msg">{{ renewal_msg }}</div>
						{% endif %}
					</td>
				</tr>
				{% endif %}
			</table>
		</div>
	</div>
	<div class="row">
		<div class='col profile-card mb-5'>
			<h2>Other memberships</h2>
			<p>Members of the American Handel Society can become a member of the Georg-Friedrich-Händel-Gesellschaft in Halle (to receive the <em>Händel-Jahrbuch</em>) or a Friend of The Handel Institute in Great Britain (to receive The Handel Institute Newsletter). </p>
			<a class="btn btn-primary mt-4 ms-4 float-end" href="{% url 'join-other-organizations' %}">Join Other Organizations</a>
		</div>
	</div>
</div>

{% endblock %}
