{% extends "base.html" %}
{% load static %}
{% load profile_extras %}

{% block title %}Profile{% endblock %}

{% block extra_css %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='container-fluid'>
	<div class="row">
		<div class='col profile-card'>
			<h2>Basic Information</h2>
			<div class="row mb-4">
				<div class="col-md-6 mb-4">
					<p class="text-muted">About You</p>
					<p class="mb-0">{{ request.user.first_name }} {{ request.user.last_name }}</p>
					<p class="mb-0">{{ request.user.email }}</p>
					<p class="mb-0">{{ request.user.phone_number }}</p>
					<p>{{ request.user.institution }}</p>
				</div>
				<div class="col-md-6">
					{% if request.user.address %}
						<p class="text-muted">Mailing Address</p>
						<p class="mb-0">{{ request.user.address.street_address }}</p>
						<p class="mb-0">{{ request.user.address.street_address_2 }}</p>
						<p class="mb-0">{{ request.user.address.street_address_3 }}</p>
						<p class="mb-0">{{ request.user.address.city }} {{ request.user.address.state_province_region }} {{ request.user.address.zip_postal_code }}</p>
						<p>{{ request.user.address.country }}</p>
					{% endif %}
				</div>
				<div class="col-xs-12 mt-4">
					{% if request.user.contact_preference %}
						<p>You receive the AHS newsletter in <strong>{{request.user.contact_preference|format_contact_preference}}</strong> format.</p>
					{% endif %}
				</div>
				<div class="col-xs-12 mt-4">
					{% if request.user.available_in_directory %}
						<p class="pt-4 pb-4"><i class="fas fa-eye"></i> Members of the AHS can view your information in the online Members Directory.</p>
					{% else %}
						<p class="pt-4 pb-4"><i class="fas fa-eye-slash"></i> Members of the AHS cannot view your information in the online Members Directory.</p>
					{% endif %}
				</div>
			</div>

			<div class="row">
				<div class="col">
					{% if form_name == 'change-password-success' %}
						<p class="alert-success">
							Bravo! You successfully changed your password.
						</p>
					{% elif form_name == 'change-member-info-success' %}
						<p class="alert-success">
							Bravo! You successfully updated your user info.
						</p>
					{% endif %}
					<a class="btn btn-primary mt-4 ms-4 float-end" href="{% url 'edit-member' member_uuid=request.user.id %}">Update Information</a>
					<a class="btn btn-primary mt-4 ms-4 float-end" href="{% url 'change-password' %}">Change Password</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class='col profile-card mb-5'>
			<h2>Membership</h2>
			<table class="profile-table">
				<tr>
					<th>Membership Type</th>
					<td>{{ request.user.membership_type }}</td>
				</tr>
				<tr>
					<th>Renewal Date</th>
					<td>
						{{ renewal_date|date:'DATE_FORMAT' }}
						<br>
						{% if payment_overdue %}
							<span class="renewal-msg-error"><i class="fas fa-bell"></i> {{ renewal_msg }}</span>
						{% else %}
							<span class="renewal-msg">{{ renewal_msg }}</span>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Date of Last Membership Payment</th>
					<td>{{ request.user.date_of_last_membership_payment|date:'DATE_FORMAT' }}</td>
				</tr>
				<tr>
					<th>Date Joined</th>
					<td>{{ request.user.date_joined|date:'DATE_FORMAT' }}</td>
				</tr>
				<tr>
					<th>Last Login</th>
					<td>{{ request.user.last_login|date:'DATETIME_FORMAT' }}</td>
				</tr>
			</table>
			<!-- <div class="row">
				<div class="col">
					<a class="disabled btn btn-primary mt-4 ms-4 float-end" href="{# url 'edit-profile' #}">Renew Membership</a>
				</div>
			</div> -->
		</div>
	</div>

</div>

{% endblock %}
