{% extends "base.html" %}
{% load static %}

{% block title %}Research Materials{% endblock %}

{% block extra_css %}
<link href="{% static 'css/research_materials.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class='banner-container'>
    <div class='page-banner-quote'>
        <p class="apple-pie">"Behold fair Truth, the heav'nly image see,<br>Not decked, but fairest in simplicity"</p>
        <p>Thomas Morell, <em>The Triumph of Time and Truth</em>, 1757</p>
    </div>
    <div class='page-banner-header'>
        <h1>Research</h1>
    </div>
</div>

<div class="research-container">
    <section>
        <p>Handel scholars and enthusiasts have access to a growing repository of resources, including many digital and online materials. The following list provides links to online research materials that may be useful to anyone engaged in the study of Handel.</p>
        <p>Additionally, anyone can join <a href="https://groups.io/g/Handel-e" target="_blank">Handel-E</a>, a mailing and discussion list, originally founded by the American Handel Society.</p>
    </section>
    <h3>Open Access Resources</h3>
    {% for material in research_materials.open_source %}
        <div class="research-row">
            <p class="research-material-title"><a href={{material.url}} target="_blank">{{material.title}} <i class="fas fa-chevron-circle-right"></i></a></p>
            <p>{{material.description}}</p>
        </div>
    {% endfor %}
    <h3>Subscription-Based Resources</h3>
    {% for material in research_materials.subscription_based %}
    <div class="research-row">
        <p class="research-material-title"><a href={{material.url}} target="_blank">{{material.title}} <i class="fas fa-chevron-circle-right"></i></a></p>
        <p>{{material.description}}</p>
    </div>
    {% endfor %}
</div>

{% include 'partials/footer.html' %}

{% endblock %}
