[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "==2.9.5"
django-paypal = "*"
fontawesomefree = "*"
django = "==4.0"
python-dateutil = "*"
whitenoise = "*"
dj-database-url = "*"
gunicorn = "*"
django-simple-captcha = "*"
freezegun = "*"
django-waffle = "*"
django-add-default-value = "*"
time-machine = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
docker = "*"
pre-commit = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
