[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django-paypal = "*"
fontawesome-free = "*"
django = "==3.1.9"
python-dateutil = "*"
whitenoise = "*"
dj-database-url = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
docker = "*"
pre-commit = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
