.page-not-found-container {
	display:  flex;
	flex-wrap:  wrap;
	justify-content:  center;
}

.page-not-found-content {
  color:  white;
  background-color: #182978;
  text-align: center;
  margin:  auto;
  flex-basis:  100%;
}
