/* General and Atomic */
:root {
  --red-color: #7d1935;
  --blue-color: #267abf;
  --error-color: #ff3333;
  --font-headers: "IM Fell English SC", serif;
  --font-text: "Antic Slab", serif;
}

html {
  font-size: 62.5%;
  /* Easily convert font to rem, e.g. 1.6rem => 16px */
  height: 100%;
}

body {
  font-family: var(--font-text);
  font-size: 2.2rem;
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, nav, footer>p {
  font-family: var(--font-headers);
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

a {
  color: #267abf;
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.col-12 {
  padding: 8%;
}

.btn {
  padding: 1rem 1.5rem;
  font-size: 22px;
  border-radius: 0.3rem;
  height: auto;
}

.btn-primary {
  background-color: var(--red-color);
  color: #fff;
  border-color: var(--red-color);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #991e41;
  color: #fff;
  border-color: var(--red-color);
}

.btn-black {
  background-color: #212529;
  color: #fff;
  border-color: #212529;
}

.btn-black:hover, .btn-black:focus {
  background-color: #424547;
  color: #fff;
  border-color: #424547;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 4%;
  margin-top: 100px;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border: 2px solid #badbcc;
  padding: 1rem;
}

/* Reusable flex containers and items */
.outer-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.fluid-outer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.banner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.page-banner-header {
  padding: 3%;
  background-color: #dbdbdb;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 35%;
  margin: auto;
  margin-top: -3%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.page-banner-header h1 {
  /* viewport width */
  font-size: 8vw;
  margin: auto;
}

.page-banner-quote {
  padding: 7% 6%;
  font-size: 2vw;
  line-height: 2;
  background-color: #182978;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.apple-pie {
  font-family: "Homemade Apple", cursive;
}

/* Small screens */
@media screen and (min-width: 0px) and (max-width: 768px) {
  .page-banner-header {
    display: none;
  }

  .page-banner-quote {
    width: 100% !important;
    padding: 5rem !important;
    font-size: 2.2rem !important;
    flex-wrap: wrap !important;
  }
}

.img-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img-banner h1 {
  text-align: center;
  color: #fff;
  font-size: 4.7rem;
  padding-bottom: 3rem;
  width: 80%;
}

/* Navbar */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
}

.navbar-toggler .icon-bar {
  background-color: #333333;
}

.navbar-brand {
  font-size: 3vw;
}

/* Small screens */
@media screen and (min-width: 0px) and (max-width: 768px) {
  .navbar-brand {
    font-size: 1em;
  }
}

.navbar-nav li a {
  font-size: 1em;
}

.navbar-brand, .navbar-nav li a.main-drop {
  line-height: 80px;
  height: 80px;
  padding-top: 0;
}

.nav-link {
  color: rgba(0, 0, 0, .9);
}

.nav-link:hover {
  color: rgba(0, 0, 0, .55);
}

.nav-item {
  margin-left: 12px;
  list-style-type: none;
  color: rgba(0, 0, 0, .55);
}

.dropdown-menu {
  font-size: inherit;
  background: #f8f9fa !important;
  border: none;
}

.dropdown-item {
  color: rgba(0, 0, 0, .9);
}

.dropdown-item:hover, .dropdown-item:after {
  color: rgba(0, 0, 0, .55);
  background: #f8f9fa !important;
}

.navbar hr {
  color: #a4a4a4;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .55);
  border-color: #f8f9fa !important;
}

.navbar-toggler:focus {
  text-decoration: #f8f9fa !important;
  outline: 0;
  box-shadow: none;
}

/* Footer */
footer {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.5rem;
  border-top: 1px solid #e8e8e8;
  justify-content: space-between;
  gap: 30px;
}

.footer-muted {
  color: rgba(121, 121, 121);
}

.footer-bold {
  font-weight: 900;
}

footer h4 {
  padding-top: 5px;
  padding-bottom: 5px;
}

footer .images {
  width: 50%;
}

/* Small screens */
@media screen and (min-width: 0px) and (max-width: 768px) {
  footer .images {
    display: none;
  }
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  margin: auto;
  padding-top: 100px;
  height: 140vh;
}

input, select {
  padding-left: 8px;
  border-radius: 0;
  border: solid 0.5px #b0b0b0;
  height: 44px;
  font-size: 1.8rem;
}

label {
  color: #000000;
  margin-bottom: 0.8rem;
  margin-top: 2rem;
}

.errorlist {
  list-style-type: none;
  padding-left: 0;
  color: var(--error-color);
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 5rem 0 3rem 0;
}

.checkbox-container input {
  height: auto;
  margin: 8px 12px 8px 0;
}

.checkbox-container label {
  margin: 0;
}
