.outer-container {
    padding-top: 10rem;
    padding-bottom: 10rem;
    border-bottom: 1px solid #e8e8e8;
}

ul.donate-list {
    padding: 2.5rem 6rem;
}

.img-banner {
    /* Background */
    background-size: cover;
    background-image: url("/static/images/theodora.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 20%;
    height: 300px;
}

.img-banner form {
    width: 80%;
    height: auto;
    margin: 0;
    padding: 0;
}

/* Small screens */
@media screen and (min-width: 0px) and (max-width: 768px) {
    .outer-container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .img-banner {
        background-size: 300%;
        height: 400px;
    }
}
