.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 3rem 0 3rem 0;
}

.checkbox-container input {
    height: auto;
    margin: 8px 12px 8px 0;
}

label[for=id_street_address] {
    border-top: 1px solid #e8e8e8;
    margin-top: 4rem;
    padding-top: 3.5rem;
}

.small {
    font-size: 1.6rem;
}
