.outer-container {
    margin-bottom: 6%;
}

.outer-container > section {
  padding: 8% 0 8% 0;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 6%;
}

.flex-container-rows {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3.5rem 0;
    gap: 35px;

}

.flex-container-cols-events {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item {
    width: 45%
}

.img-events {
    max-width: 100%;
    height: auto;
}

p.font-sm {
    font-size: 1.6rem;
}

p.margin-sm {
    margin-bottom: 2px;
}

div.padding-md {
    padding-bottom: 5rem;
}
