.flex-container-cols {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 5rem 0;
}

.flex-container-rows {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3.5rem 0;
    gap: 35px;

}

.flex-container-cols-events {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item {
    width: 45%
}

.img-events {
    max-width: 100%;
    height: auto;
}

.flex-container-cols > section {
  padding: 6% 0 6% 0;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 6%;
}
