.flex-container-column {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding-top: 4%;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    width: 100%;
    margin: auto;
    margin-top: 2.5rem;
}

form {
    height: auto;
    padding: 0 0 8% 0;
}

ol {
    padding-left: 0;
}
