/* Overwrite reusable properties */
.banner-container, .page-banner-header {
	height: 46vw;
	background-color: #182978;
}

.page-banner-header {
	padding: 0;
}

.page-banner-quote {
	width: 64%;
	padding: 10vw 2vw;
	flex-direction: column;
	font-size: 2.2vw;
	line-height: 2;
}

.home-img {
	height: 46vw;
}

.outer-container {
	justify-content: center;
}

.img-banner {
	/* Background */
	background-image: url("/static/images/happy_we.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-x: 50%;
	background-position-y: 50%;
	height: 380px;
}

.img-banner .btn {
	width: 80%
}

.fluid-outer-container {
	padding-bottom: 4rem;
}

.intro-text {
	font-size: 2.8rem;
	padding: 8% 6%;
}

.font-enhance {
	font-family: var(--font-headers);
}


/* Newsletter, Events, Awards */
.info-row {
	display: flex;
	flex-direction: row;
	padding: 3% 0;
}

.info-col {
	display: flex;
	flex-direction: column;
	margin: 2rem;
}

.subheader {
	margin-bottom: 0;
	color: rgba(121, 121, 121);
}

.info-header {
	font-size: 4.8vw;
	font-family: var(--font-headers);
}

.info-newsletter-img {
	height: 45vw;
}

.info-newsletter-text {
	padding: 5%;
	width: 62%;
}

.newsletter-img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
}

.info-events-img {
	width: 62%;
	height: 40vw;
	margin: 0;
	/* Background */
	background-size: cover;
	background-image: url("/static/images/Senesino_Cuzzoni_Berenstadt_BW.jpg");
	background-repeat: no-repeat;
	background-position-y: 68%;
}

.info-events-text {
	width: 38%;
	padding: 4%;
}

.events-img {
	max-width: 100%;
	height: auto;
	border-radius: 2%;
}

.info-study-img {
	width: 45%;
	margin: 0;
	/* Background */
	background-size: cover;
	background-image: url("/static/images/discovery-bw.jpg");
	background-repeat: no-repeat;
}

.info-study-text {
	width: 55%;
	padding: 2%;
}

/* Small screens */
@media screen and (min-width: 0px) and (max-width: 768px) {
	.banner-container {
		height: auto;
	}

	.info-newsletter-text, .info-events-text, .info-study-text {
		width: 100%;
		padding: 2% 4%;
	}

	.info-newsletter-img, .info-events-img, .info-study-img {
		display: none;
	}

	.info-header {
		font-size: 5rem;
	}

	.fluid-outer-container, .outer-container {
		padding: 1.5rem 0;
	}

	.img-banner {
		background-size: 400%;
		height: 450px
	}

	.info-row {
		padding: 2% 0;
	}
}
