.captcha-label {
	border-top: 1px solid #e8e8e8;
	margin-top: 2rem;
	padding-top: 5rem;
}

img.captcha {
	width: 40%;
	margin-bottom: 1.6rem;
}

form {
	padding: 0;
}

.flex-container-row {
	margin-top: 5rem;
}

.card {
	margin-top: 5%;
    margin-bottom: 5%;
}
