.page-banner-quote {
    padding: 6%;
}

.page-banner-header {
    width: 50%;
}

.outer-container section {
    padding: 8% 0 6% 0;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 6%;
}

td p:last-of-type {
    margin-bottom: 0;
}

.preview-label, .members-only-label {
    color: #fff;
    background: #267abf;
    border-radius: 8px;
    padding: 1px 6px;
}

/* Small screens */
@media screen and (min-width: 0px) and (max-width: 768px) {
    /* Hide "Articles" column in table */
    th.articles, td.articles {
        display: none;
    }

    .dataTables_wrapper .dataTables_info {
        text-align: center;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0.3em 0.5em;
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-top: 0;
    }
}
