.page-banner-quote {
    padding: 6%;
}

.page-banner-header {
    width: 50%;
}

.outer-container section {
    padding: 8% 0 6% 0;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 6%;
}

td p:last-of-type {
    margin-bottom: 0;
}

.preview-label, .members-only-label {
    color: #fff;
    background: #267abf;
    border-radius: 8px;
    padding: 1px 6px;
}
