/* Profile */
.profile-card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 4% 16% 0% 16%;
    padding: 4%;
}

.profile-table {
    width: 100%;
    margin-bottom: 2.2rem;
}

.profile-table tr {
    border-bottom: 1px #ccd0d5 solid;
}

.profile-table th {
    width: 40%;
    margin-right: 60px;
    vertical-align: top;
    padding: 1.2rem 1.2rem 1.2rem 0;
}

.profile-table td {
    vertical-align: top;
    padding: 1.2rem 1.2rem 1.2rem 0;
}

.renewal-msg, .beta-msg {
    font-size: 1.6rem;
}

.beta-msg {
    margin: 20px 0px;
}

.renewal-msg {
    color: #b0b0b0;
    margin: 4px 0 20px 0;
}

.renewal-msg-error {
    font-size: 1.6rem;
    color: var(--error-color);
    font-weight: 700;
    margin: 4px 0 20px 0;
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.other-organizations {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

/* Small screens */
@media screen and (min-width: 0px) and (max-width: 768px) {
    .profile-card {
        margin: 4% 8% 0% 8%;
    }

    .btn-primary {
        width: 100%;
    }
}
