{% load static nav_bar_extras %}

{% block extra_css %}
<link href="{% static 'css/nav_bar.css' %}" rel="stylesheet">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light ms-4 me-4">
	<div class="d-flex flex-grow-1">
		<a class="navbar-brand" href="{% url 'home' %}">American Handel Society</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
		<ul class="navbar-nav ms-auto flex-nowrap"></ul>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'events' %}">Events</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'awards' %}">Awards</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'newsletter' %}">Newsletter</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
					data-bs-toggle="dropdown" aria-expanded="false">
					More
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'people' %}">People</a>
					<!-- <a class="dropdown-item" href="#">Explore</a> -->
					<a class="dropdown-item" href="{% url 'research-materials' %}">Research materials</a>
					<a class="dropdown-item" href="{% url 'donate' %}">Donate</a>
					{% if request.user.is_authenticated %}
						<hr class="d-lg-none d-xl-block">
						<a class="dropdown-item" href="{% url 'join-other-organizations' %}">Join other organizations</a>
					{% endif %}
				</ul>
			</li>
			{% if request.user.is_authenticated %}
			<!-- Pipe or HR to demarcate profile items-->
			<li class="nav-item nav-link d-none d-lg-inline-block">|</li>
			<hr class="d-lg-none d-xl-block">
			{% if request.user|show_renew_nav_item %}
				<li class="nav-item glow-nav-item">
					<svg className={styles.letItGlowLarge} viewBox='0 0 1 1' height='30'>
						<circle fill='#267abf' stroke='none' cx='.5' cy='.5' r='.2'>
						<animate
							attributeName='opacity'
							dur='2s'
							values='0.1;1;0.1'
							repeatCount='indefinite'
							begin='0.1'
						/>
						</circle>
					</svg>
					<a class="nav-link" href="{% url 'renew' %}">Renew</a>
				</li>
			{% endif %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'profile' %}">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'join' %}">Join</a>
			</li>

			<!-- Pipe or HR to demarcate login item-->
			<li class="nav-item nav-link d-none d-lg-inline-block">|</li>
			<hr class="d-lg-none d-xl-block">

			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>
