{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="flex-container-column">
   <h3>Reset Password Form</h3>
   <p>Please enter your new password:</p>
      <p class="helptext">
      <ul>
         <li>Your password can’t be too similar to your other personal information.</li>
         <li>Your password must contain at least 8 characters.</li>
         <li>Your password can’t be a commonly used password.</li>
         <li>Your password can’t be entirely numeric.</li>
      </ul>
      </p>
</div>
   <form method="POST">
         {% csrf_token %}
         <label for="id_new_password1">New password</label>
         <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
         <label for="id_new_password2">New password confirmation</label>
         <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
        {% if form.errors.new_password2 %}
            <p class="errorlist nonfield">{{ form.error_messages.password_mismatch }}</p>
        {% endif %}
         <div class="flex-container-row">
             <input class="btn btn-primary" type="submit" value="Submit">
         </div>
   </form>

{% include 'partials/footer.html' %}

{% endblock %}
