{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="flex-container-column">
        <h1>Reset Password</h1>
        <p>Forgot your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <div class="reset">
            <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <label for="id_email">Email</label>
                    <input type="email" name="email"  class="form-control"
                        autocomplete="email" maxlength="254" required id="id_email"
                        placeholder="Enter email">
                <div class="form-row">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
