{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="flex-container-column">
      <h3>Check your inbox.</h3>
      <p>We've emailed you instructions for setting your password. You should receive the email shortly.</p>
      <p>If you do not receive anything, please check your spam folder or double check your email address and resubmit the form.</p>
  </div>
{% endblock %}
