{% extends "base.html" %}
{% load static %}

{% block title %}Update Information{% endblock %}

{% block extra_css %}
<link href="{% static 'css/edit_member.css' %}" rel="stylesheet">
<link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div>
    <div class="flex-container-column">
        <h3>Update Information</h3>
        <p>Use this form to update your general membership information, mailing address, and preference to show or hide your
            information in the members directory. You can learn how the American Handel Society uses your personal information by reading the <a href="{% url 'privacy-policy' %}" target="_blank">Privacy Policy</a>.</p>
    </div>
    <form method="post">{% csrf_token %}
        <label for="id_first_name">First name*</label>{{form.first_name}}
        {{ form.first_name.errors }}

        <label for="id_last_name">Last name*</label>{{form.last_name}}
        {{ form.last_name.errors }}

        <label for="id_email">Email*</label>{{form.email}}
        {{ form.email.errors }}

        <label for="id_phone_number">Phone number</label>{{form.phone_number}}
        {{ form.phone_number.errors }}

        <label for="id_institution">Institution</label>{{form.institution}}
        {{ form.institution.errors }}

        <label class="label-with-border" for="id_street_address">Street Address</label>{{address_form.street_address}}
        {{ address_form.street_address.errors }}

        <label for="id_street_address_2">Street Address (additional)</label>{{address_form.street_address_2}}
        {{ address_form.street_address_2.errors }}

        <label for="id_street_address_3">Street Address (additional)</label>{{address_form.street_address_3}}
        {{ address_form.street_address_3.errors }}

        <label for="id_city">City</label>{{address_form.city}}
        {{ address_form.city.errors }}

        <label for="id_id_state_province_region">State, Province, or Region</label>{{address_form.state_province_region}}
        {{ address_form.state_province_region.errors }}

        <label for="id_id_zip_postal_code">ZIP Code</label>{{address_form.zip_postal_code}}
        {{ address_form.zip_postal_code.errors }}

        <label for="id_id_country">Country</label>{{address_form.country}}
        {{ address_form.country.errors }}

        <label class="label-with-border" for="id_contact_preference">Indicate how you prefer to receive the AHS Newsletter.</label>{{form.contact_preference}}
        {{ form.contact_preference.errors }}

        <div class="checkbox-container">
            {{form.available_in_directory}} Check this box to be included in the online members directory. (Only members of the American Handel Society can view this directory.)
        </div>

        <div class="checkbox-container">
            {{form.can_showcase_membership_or_donation_data}} {% if is_circle_member == True %}Are you a Rinaldo, Cleopatra, Theodora, or Messiah member?{% endif %} Have you recently made or plan to make a donation to the AHS? Check this box to be showcased in the newsletter and/or on the website.
        </div>

        <div class="flex-container-row small">
            * Denotes a required field
        </div>

        <div class="flex-container-row">
            <a href="{% url 'profile' %}" class="btn btn-black">Cancel</a>
            <input type="submit" value="Update Information" class="btn btn-primary btn-update-info" />
            <input type="submit" value="Update" class="btn btn-primary btn-update" />
        </div>
    </form>
</div>

{% endblock %}
