{% extends "base.html" %}

{% block content %}

<div>
    <form action="" method="post">{% csrf_token %}
        <label for="id_first_name">First name</label>{{form.first_name}}
        {{ form.first_name.errors }}

        <label for="id_last_name">Last name</label>{{form.last_name}}
        {{ form.last_name.errors }}

        <label for="id_email">Email</label>{{form.email}}
        {{ form.email.errors }}

        <label for="id_password1">Password</label>{{form.password1}}
        {{ form.password1.errors }}

        <label for="id_password2">Re-enter Password</label>{{form.password2}}
        {{ form.password2.errors }}

        <input type="submit" value="Continue to Payment" class="btn btn-primary mt-5" />
    </form>
</div>

{% endblock %}
