{% extends "base.html" %}
{% load static %}

{% block title %}Join{% endblock %}

{% block extra_css %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet">
<link href="{% static 'css/join.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div>
    <div class="flex-container-column">
        <h3>Join or Renew</h3>
        <p>Welcome to the American Handel Society! To become a member, please complete this simple form. On subsequent pages, you will select your membership type and be redirected to Paypal, where you can submit annual dues.</p>
        <p><strong>Returning members should use this form to renew your membership and create a member profile.</strong> </p>
    </div>
    <form action="" method="post">{% csrf_token %}
        <label for="id_email">Email</label>{{form.email}}
        {{ form.email.errors }}

        <label for="id_first_name">First name</label>{{form.first_name}}
        {{ form.first_name.errors }}

        <label for="id_last_name">Last name</label>{{form.last_name}}
        {{ form.last_name.errors }}

        <label for="id_password1">Password</label>{{form.password1}}
        <p><em>Please memorize or securely save your password; it cannot be recovered if forgotten or lost.</em></p>
        {{ form.password1.errors }}

        <label for="id_password2">Re-enter Password</label>{{form.password2}}
        {{ form.password2.errors }}

        <div class="checkbox-container">
            {{ form.accepts_privacy_policy }} <label>By joining the American Handel Society you agree to the terms of the <a href="{% url 'privacy-policy' %}" target="_blank">Privacy Policy</a>. Check this box to acknowledge that you read and understand this policy.</label>
        </div>
        {{ form.accepts_privacy_policy.errors }}

        <label class="captcha-label" for="id_captcha_1">Are you a robot? Type the word as it appears in the image.</label>{{form.captcha}}
        {{form.errors.captcha}}

        <div class="flex-container-row">
            <a href="{% url 'home' %}" class="btn btn-black btn-home">Return Home</a>
            <input type="submit" value="Continue" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="flex-container-column card">
    <p>You can also join by mail; an AHS administrator will provide you with login credentials if you want to access your online member profile. Please download and complete the application form and send it to the address as indicated.</p>
    <p><a href="{% static 'AHS_membership_form_2022.pdf' %}" target="_blank"><i class="fas fa-download" aria-hidden="true"></i> Download application form</a></p>
</div>

{% include 'partials/footer.html' %}

{% endblock %}
