{% extends "base.html" %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block extra_css %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet">
<link href="{% static 'css/change_password.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div>
    <div class="flex-container-column">
        <h3>Change Password</h3>
        <p>Use this form to change your password. As a security precaution you must provide your old password.</p>
    </div>
    <form action="" method="post">{% csrf_token %}
        <label for="id_old_password" class="required">Old password:</label>{{ form.old_password }}
        {{ form.old_password.errors }}

        <label for="id_new_password1" class="required">New password:</label>{{ form.new_password1 }}
        {{ form.new_password1.errors }}

        <label for="id_new_password2" class="required">Password (again):</label>{{ form.new_password2 }}
        {{ form.new_password2.errors }}

        <div class="flex-container-row">
            <a href="{% url 'profile' %}" class="btn btn-black">Cancel</a>
            <input type="submit" value="Change Password" class="btn btn-primary btn-change-password" />
            <input type="submit" value="Change" class="btn btn-primary btn-change" />
        </div>
    </form>
</div>

{% endblock %}
