{% extends "base.html" %}
{% load static %}
{% load pay_extras %}

{% block extra_css %}
<link href="{% static 'css/pay.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
    <div class="flex-container-column">
        <h3>Join</h3>
        <p>Select your membership type, and then, wait for the site to redirect you to Paypal.</p>
    </div>
    <form id="payForm" action={{PAYPAL_ACTION_URL}} method="post">
        {{ form.cmd }}
        {{ form.charset }}
        {{ form.currency_code }}
        {{ form.no_shipping }}
        {{ form.business }}
        {{ form.amount }}
        {{ form.item_name }}
        <select id="membership_select" name="amount">
            {% for membership in membership_types %}
                <option id={{membership.value}} value={{membership.label}}>{{membership.value|format_membership_type}} ${{membership.label}} USD</option>
            {% endfor %}
        </select>
        {{ form.invoice }}
        {{ form.notify_url }}
        {{ form.return }}
        {{ form.custom }}
    </form>
    <form id="cancelForm" method="post">{% csrf_token %}</form>
    <div class="flex-container-row">
        <input form="cancelForm" type="submit" value="Cancel" class="btn btn-black" />
        <input form="payForm" type="submit" value="Go to PayPal" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-primary">
    </div>
</div>

{% block extra_js %}
<!-- TODO: Why do I need jQuery import if I import it in base.html -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script>
    $('#membership_select').on('change', function () {
        var membership_type = $(this).find('option:selected').attr("id");
        $('#id_item_name').val(membership_type);
    });
</script>
{% endblock %}

{% endblock %}
